#
# This file was prepared for python 3.7.5
# extended by python3.7-dev python3.7-venv
#
Flask==2.1.2
    # by
    #   python3 -m venv ensembl_venv
    #   pip install -U setuptools pip
    #   pip install Flask
Jinja==2-3.1.2 
    # via flask
MarkupSafe==2.1.1 
    # via flask
Werkzeug==2.1.2 
    # via flask
importlib-metadata==4.12.0
    # via flask 
itsdangerous==2.1.2 
    # via flask
typing-extensions==4.3.0
    # via flask
zipp-3.8.0
    # via flask
flask-basicauth==0.2.0
    # via locust
flask-cors==3.0.10
    # via locust
locust==2.9.0
    # via -r requirements.in
click==8.1.3
    # via flask
mysql_connector_python==8.0.29
    # mysql_connector_python
protobuf==4.21.2
    # mysql_connector_python